* {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC'; }

body {
  background-color: white; }
  body .contenedor {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header" "nav nav " "main main" "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr; }
    body .contenedor header {
      grid-area: header;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      background-color: black;
      padding: 1%; }
      body .contenedor header .logo {
        border-radius: 50%;
        width: 60%; }
      body .contenedor header h1 {
        text-align: center;
        font-size: 5rem;
        color: white;
        letter-spacing: 1rem; }
    body .contenedor nav {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #7ebdc2;
      position: sticky;
      top: 0; }
      body .contenedor nav ul {
        display: flex;
        list-style: none; }
        body .contenedor nav ul li a {
          text-decoration: none;
          color: black;
          border-radius: 10%;
          margin: 5rem;
          font-size: 3rem;
          background-color: #7ebdc2;
          font-weight: 600; }
    body .contenedor main {
      grid-area: main;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: auto;
      margin: 5%; }
      body .contenedor main .mainProd img {
        flex-wrap: wrap;
        margin: 10px;
        height: 20rem;
        width: 20rem; }
      body .contenedor main form {
        width: 700px;
        height: 300px; }
        body .contenedor main form .btn {
          width: 15%;
          border: 0.3rem solid black;
          font-size: 2rem; }
      body .contenedor main .form {
        padding: 2%;
        color: black;
        background-color: #f3dfa2;
        font-size: 2.5rem; }
      body .contenedor main .formName {
        margin: 10px; }
        body .contenedor main .formName input {
          height: 40px;
          width: 100%;
          padding: 10px;
          margin: 0;
          box-sizing: border-box; }
      body .contenedor main .remeras img {
        margin: 10px;
        width: 30rem;
        height: 30rem; }
      body .contenedor main .remeras p {
        font-size: 2rem;
        text-align: center;
        color: black;
        background-color: #7ebdc2; }
      body .contenedor main .zapatillas img {
        margin: 10px;
        width: 30rem;
        height: 30rem; }
      body .contenedor main .zapatillas p {
        font-size: 2rem;
        text-align: center;
        color: black;
        background-color: #7ebdc2; }
      body .contenedor main .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: white;
        letter-spacing: 0.1rem; }
      body .contenedor main .contImgSlog {
        position: relative;
        display: inline-block;
        text-align: center;
        height: 100vh; }
    body .contenedor footer {
      grid-area: footer;
      display: flex;
      justify-content: center; }
      body .contenedor footer .fooContacto {
        margin: 15%; }
      body .contenedor footer p {
        font-size: 2rem;
        margin: 5%;
        background-color: #7ebdc2;
        color: black; }
