/* Incluyo extends*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC'; }

/*Agrego mapas*/
main {
  display: flex; }
  main .mainProd img {
    flex-wrap: flex-wrap; }

/*Incluyo mixin*/
.sizeTextPrice {
  font-size: 2rem;
  text-align: center; }

/*Agrego variables*/
body .contenedor header {
  letter-spacing: 3rem; }

body .contenedor footer {
  grid-area: footer;
  display: flex;
  justify-content: center; }
  body .contenedor footer .fooContacto {
    margin: 15%; }
  body .contenedor footer p {
    font-size: 2rem;
    margin: 5%;
    color: black; }

body .contenedor main {
  grid-area: main;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 5%; }
  body .contenedor main .tSize {
    flex-wrap: wrap; }
  body .contenedor main form {
    width: 700px;
    height: 300px; }
    body .contenedor main form .btn {
      width: 15%;
      border: 0.3rem solid black;
      font-size: 2rem; }
  body .contenedor main .form {
    padding: 2%;
    font-size: 2.5rem; }
  body .contenedor main .formName {
    margin: 10px; }
    body .contenedor main .formName input {
      height: 40px;
      width: 100%;
      padding: 10px;
      margin: 0;
      box-sizing: border-box; }
  body .contenedor main .remeras img {
    margin: 10px;
    width: 30rem;
    height: 30rem; }
  body .contenedor main .remeras p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2; }
  body .contenedor main .zapatillas img {
    margin: 10px;
    width: 30rem;
    height: 30rem; }
  body .contenedor main .zapatillas p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2; }
  body .contenedor main .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    letter-spacing: 0.10rem;
    font-weight: 900; }
  body .contenedor main .contImgSlog {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 120vh; }
    body .contenedor main .contImgSlog img {
      background-attachment: fixed; }
  body .contenedor main .sizeTextCard {
    font-size: 2.5rem;
    text-align: center; }
  body .contenedor main .marginCard {
    display: flex;
    align-items: flex-start; }

/*Incluyo operaciones*/
header h1 {
  font-size: 5rem; }

/*Agrego lists*/
body .contenedor nav ul li a {
  color: black; }

body .contenedor main form .form {
  color: black;
  background-color: #f3dfa2; }

body .contenedor footer p {
  background-color: #7ebdc2; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .container-fluid .contenedor {
    display: grid;
    grid-template-areas: "header header" "nav nav " "main main" "footer footer"; }
    body .container-fluid .contenedor header {
      grid-area: header;
      width: 72%; }
      body .container-fluid .contenedor header .logo {
        display: none; }
      body .container-fluid .contenedor header h1 {
        letter-spacing: 1rem;
        font-size: 2rem;
        text-align: center; }
    body .container-fluid .contenedor nav {
      width: 72%;
      margin-bottom: 0;
      margin-top: 0; }
      body .container-fluid .contenedor nav .navegacion {
        width: 50%;
        height: 1%;
        margin: 1px; }
      body .container-fluid .contenedor nav .menu ul {
        margin: 0;
        width: 72%;
        height: 30%; }
      body .container-fluid .contenedor nav .menu li {
        position: relative;
        display: inline-block;
        width: 80px;
        justify-content: flex-start; }
        body .container-fluid .contenedor nav .menu li a {
          display: block;
          padding: 10px 5px;
          font-size: 1rem;
          margin: 0;
          padding-left: 0%;
          margin-left: 0; }
    body .container-fluid .contenedor main {
      grid-area: main;
      display: flex;
      flex-direction: column; }
      body .container-fluid .contenedor main .mainProd {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
      body .container-fluid .contenedor main .remeras {
        width: 46%;
        align-items: center; }
        body .container-fluid .contenedor main .remeras p {
          text-align: center; }
      body .container-fluid .contenedor main .zapatillas {
        width: 46%;
        align-items: center; }
      body .container-fluid .contenedor main .sizeCarousel {
        width: 10%; }
      body .container-fluid .contenedor main form .form {
        width: 60%; }
      body .container-fluid .contenedor main form .btn {
        margin: 1%;
        width: 20%; }
      body .container-fluid .contenedor main .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
        letter-spacing: 0.10rem;
        font-weight: 700; }
    body .container-fluid .contenedor footer {
      grid-area: footer;
      width: 50%;
      margin: 2%;
      justify-content: center; }
      body .container-fluid .contenedor footer .tituloFooter {
        text-align: center;
        margin: 1rem; }
      body .container-fluid .contenedor footer .fooContacto {
        margin: 27%; } }

body {
  background-color: white; }
  body .container-fluid .contenedor {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header" "nav nav " "main main" "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr; }
    body .container-fluid .contenedor header {
      grid-area: header;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      background-color: black;
      padding: 1%; }
      body .container-fluid .contenedor header .logo {
        border-radius: 50%;
        width: 60%; }
      body .container-fluid .contenedor header h1 {
        text-align: center;
        color: white; }
    body .container-fluid .contenedor nav {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #7ebdc2; }
      body .container-fluid .contenedor nav ul {
        display: flex;
        list-style: none; }
        body .container-fluid .contenedor nav ul li a {
          text-decoration: none;
          border-radius: 10%;
          margin: 5rem;
          font-size: 3em;
          font-weight: 400; }
    body .container-fluid .contenedor .navStatic {
      display: flex;
      position: relative; }
