@charset "UTF-8";
/* Incluyo extends*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC'; }

/*Agrego mapas*/
main {
  display: flex; }
  main .mainProd img {
    flex-wrap: flex-wrap; }

/*Incluyo mixin*/
.sizeTextPrice {
  font-size: 2rem;
  text-align: center; }

/*Agrego variables*/
body .contenedor header {
  letter-spacing: 3rem; }

body .contenedor footer {
  grid-area: footer;
  display: flex;
  justify-content: center; }
  body .contenedor footer .fooContacto {
    margin: 15%; }
  body .contenedor footer p {
    font-size: 2rem;
    margin: 5%;
    color: black; }

body .contenedor main {
  grid-area: main;
  flex-direction: row;
  justify-content: center;
  width: auto;
  margin: 5%; }
  body .contenedor main .tSize {
    flex-wrap: wrap; }
  body .contenedor main form {
    width: 700px;
    height: 300px; }
    body .contenedor main form .btn {
      width: 15%;
      border: 0.3rem solid black;
      font-size: 2rem; }
  body .contenedor main .form {
    padding: 2%;
    font-size: 2.5rem; }
  body .contenedor main .formName {
    margin: 10px; }
    body .contenedor main .formName input {
      height: 40px;
      width: 100%;
      padding: 10px;
      margin: 0;
      box-sizing: border-box; }
  body .contenedor main .remeras img {
    margin: 10px;
    width: 30rem;
    height: 30rem; }
  body .contenedor main .remeras p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2; }
  body .contenedor main .zapatillas img {
    margin: 10px;
    width: 30rem;
    height: 30rem; }
  body .contenedor main .zapatillas p {
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: #7ebdc2; }
  body .contenedor main .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    letter-spacing: 0.10rem;
    font-weight: 900; }
  body .contenedor main .contImgSlog {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 120vh; }
    body .contenedor main .contImgSlog img {
      background-attachment: fixed; }
  body .contenedor main .sizeTextCard {
    font-size: 2.5rem;
    text-align: center; }
  body .contenedor main .marginCard {
    display: flex;
    align-items: flex-start; }

/*Incluyo operaciones*/
header h1 {
  font-size: 5rem; }

/*Agrego lists*/
body .contenedor nav ul li a {
  color: black; }

body .contenedor main form .form {
  color: black;
  background-color: #f3dfa2; }

body .contenedor footer p {
  background-color: #7ebdc2; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedor {
    display: grid;
    grid-template-areas: "header header" "nav nav " "main main" "footer footer"; }
    body .contenedor header {
      grid-area: header;
      width: 72%; }
      body .contenedor header .logo {
        display: none; }
      body .contenedor header h1 {
        letter-spacing: 1rem;
        font-size: 2rem;
        text-align: center; }
    body .contenedor nav {
      width: 72%;
      margin-bottom: 0;
      margin-top: 0; }
      body .contenedor nav .navegacion {
        width: 50%;
        height: 1%;
        margin: 0px; }
      body .contenedor nav .menu ul {
        margin: 0;
        width: 72%;
        height: 30%; }
      body .contenedor nav .menu li {
        position: relative;
        display: inline-block;
        width: 80px;
        justify-content: flex-start; }
        body .contenedor nav .menu li a {
          display: block;
          padding: 10px 5px;
          font-size: 1.5rem;
          margin: 0;
          padding-left: 0%;
          margin-left: 0; }
    body .contenedor main {
      grid-area: main;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 0; }
      body .contenedor main .padMain {
        justify-content: end; }
      body .contenedor main .mainProd {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0%; }
      body .contenedor main .remeras {
        align-items: center;
        margin: 2%;
        height: 300px;
        padding-bottom: 2px; }
        body .contenedor main .remeras img {
          height: 60%;
          width: 60%; }
        body .contenedor main .remeras p {
          text-align: center;
          font-size: 1.5rem;
          width: 60%; }
      body .contenedor main .zapatillas {
        height: 300px;
        margin: 2%; }
        body .contenedor main .zapatillas img {
          height: 60%;
          width: 60%; }
        body .contenedor main .zapatillas p {
          text-align: center;
          font-size: 1.5rem;
          width: 60%;
          margin: 0; }
      body .contenedor main .contImgSlog {
        width: 80vh; }
      body .contenedor main .sizeCarousel {
        width: 10%; }
      body .contenedor main form .form {
        width: 60%; }
      body .contenedor main form .btn {
        margin: 1%;
        width: 20%; }
      body .contenedor main .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
        letter-spacing: 0.10rem;
        font-weight: 700; }
      body .contenedor main .sizeTextCard {
        font-size: 1rem;
        text-align: center; }
      body .contenedor main .marginCard {
        display: flex;
        align-items: flex-end;
        width: 70%; }
    body .contenedor footer {
      grid-area: footer;
      display: flex;
      width: 80%;
      padding: auto;
      margin-top: 1%; }
      body .contenedor footer .tituloFooter {
        text-align: center;
        margin: 1rem; }
      body .contenedor footer .fooContacto {
        margin: 27%; }
      body .contenedor footer p {
        margin-top: 0;
        text-align: center;
        font-size: 1.5rem; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .contenedor {
    display: grid;
    grid-template-areas: "header header" "nav nav " "main main" "footer footer";
    height: 80%; }
    .contenedor header {
      grid-area: header;
      width: 100%;
      height: 85%; }
      .contenedor header .logo {
        border-radius: 100%;
        width: 20%;
        height: 10%; }
        .contenedor header .logo img {
          height: 1%; }
      .contenedor header h1 {
        letter-spacing: 2rem;
        font-size: 2rem;
        text-align: center; }
    .contenedor nav {
      width: 100%; }
      .contenedor nav .navegacion {
        width: 50%; }
      .contenedor nav .menu ul {
        margin: 0;
        width: 72%;
        height: 30%; }
      .contenedor nav .menu li {
        position: relative;
        display: inline-block;
        width: 80px;
        margin: 40px;
        margin-top: 0%;
        margin-bottom: 0%; }
        .contenedor nav .menu li a {
          display: block;
          padding: 2px;
          font-size: 1.5rem;
          margin: 0;
          padding-left: 0%;
          margin-left: 0; }
    .contenedor main {
      grid-area: main;
      display: flex;
      flex-direction: row;
      height: 60%; }
      .contenedor main .padMain {
        height: 50%; }
      .contenedor main .mainProd {
        display: flex;
        flex-direction: column;
        padding: 0%; }
      .contenedor main .remeras {
        height: auto; }
        .contenedor main .remeras img {
          height: 50%; }
        .contenedor main .remeras p {
          text-align: center;
          font-size: 1.5rem;
          width: 100%; }
      .contenedor main .zapatillas {
        height: auto; }
        .contenedor main .zapatillas img {
          height: 50%; }
        .contenedor main .zapatillas p {
          text-align: center;
          font-size: 1.5rem;
          width: 100%;
          margin: 0; }
      .contenedor main .contImgSlog {
        width: 80vh; }
      .contenedor main .sizeCarousel {
        width: 10%; }
      .contenedor main form .form {
        width: 100%; }
      .contenedor main form .btn {
        margin: 1%;
        font-size: 1rem;
        width: 15%; }
      .contenedor main .texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1rem;
        color: white;
        letter-spacing: 0.10rem;
        font-weight: 700; }
      .contenedor main .sizeTextCard {
        font-size: 1.5rem;
        text-align: center; }
      .contenedor main .marginCard {
        display: flex;
        align-items: flex-end;
        width: 35%; }
    .contenedor footer {
      grid-area: footer;
      display: flex;
      width: 80%;
      padding: auto;
      margin-top: 1%; }
      .contenedor footer .tituloFooter {
        text-align: center;
        margin: 1rem; }
      .contenedor footer .pIndex {
        display: none; }
      .contenedor footer .fooContacto {
        margin: 27%; }
      .contenedor footer p {
        margin-top: 0;
        text-align: center;
        font-size: 1.5rem; } }

/*
@media only screen and (max-width: 768px) and (min-width:576px) {
   
    body{
        .contenedorProducts{
            .gridMain{
                grid-area: main;
                .galleryContainer{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
            
        }
    }
    
    
}
*/
/* hoja estilos sección productos*/
body .contenedorProducts {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav nav nav " "main    main  main  " "footer  footer footer";
  grid-template-rows: 0.1fr 100px 360% 110px; }
  body .contenedorProducts .gridHead {
    background-color: #519872;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 1%; }
    body .contenedorProducts .gridHead .logo {
      border-radius: 50%;
      width: 60%; }
    body .contenedorProducts .gridHead h1 {
      text-align: center;
      color: white; }
  body .contenedorProducts .gridNav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: #34252F; }
    body .contenedorProducts .gridNav ul {
      display: flex;
      list-style: none; }
      body .contenedorProducts .gridNav ul li a {
        text-decoration: none;
        color: white;
        border-radius: 10%;
        margin: 5rem;
        font-size: 4rem;
        font-weight: 400; }
  body .contenedorProducts .gridMain {
    grid-area: main;
    margin-bottom: 0%; }
    body .contenedorProducts .gridMain .galleryContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 500px;
      padding: 110px;
      grid-gap: 10px; }
      body .contenedorProducts .gridMain .galleryContainer .galeryImg {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      body .contenedorProducts .gridMain .galleryContainer .gallery:nth-child(3) {
        grid-row-start: span 2; }
      body .contenedorProducts .gridMain .galleryContainer .gallery .galleryTitle {
        text-align: center;
        font-size: 2rem;
        color: white;
        background-color: black; }
  body .contenedorProducts .gridFoo {
    background-color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #A4B494; }
    body .contenedorProducts .gridFoo .logoInst {
      width: 8%;
      padding: 1%; }
    body .contenedorProducts .gridFoo .logWats {
      width: 8%;
      padding: 1%; }
    body .contenedorProducts .gridFoo .logoTelg {
      width: 8%;
      padding: 1%; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedorProducts {
    display: grid;
    grid-template-areas: "header header" "nav     nav" "main    main" "footer  footer";
    grid-template-rows: 0.1fr 50px 1fr 100px; }
    body .contenedorProducts .gridHead {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorProducts .gridHead .sizeLogo {
        width: 20%; }
      body .contenedorProducts .gridHead .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorProducts .gridHead h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorProducts .gridNav {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #3B5249; }
      body .contenedorProducts .gridNav ul li a {
        font-size: 2rem;
        margin: 30px;
        color: black;
        font-weight: 600; }
    body .contenedorProducts .gridMain {
      grid-area: main; }
      body .contenedorProducts .gridMain .galleryContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        grid-gap: 10px; }
        body .contenedorProducts .gridMain .galleryContainer .galeryImg {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        body .contenedorProducts .gridMain .galleryContainer .gallery .galleryTitle {
          text-align: center;
          font-size: 1.8rem;
          color: white;
          background-color: black; }
    body .contenedorProducts .gridFoo {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorProducts .gridFoo .logoInst {
        width: 8%;
        padding: 1%; }
      body .contenedorProducts .gridFoo .logWats {
        width: 8%;
        padding: 1%; }
      body .contenedorProducts .gridFoo .logoTelg {
        width: 8%;
        padding: 1%; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .contenedorProducts {
    display: grid;
    grid-template-areas: "header header header" "nav     nav    nav" "main    main   nav " "footer  footer footer";
    grid-template-rows: 0.1fr 50px 1fr 100px; }
    body .contenedorProducts .gridHead {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorProducts .gridHead .sizeLogo {
        width: 20%; }
      body .contenedorProducts .gridHead .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorProducts .gridHead h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorProducts .gridNav {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #34252F; }
      body .contenedorProducts .gridNav ul li a {
        font-size: 2rem;
        margin: 60px;
        color: white;
        font-weight: 400; }
    body .contenedorProducts .gridMain {
      grid-area: main; }
      body .contenedorProducts .gridMain .galleryContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 400px;
        grid-gap: 10px; }
        body .contenedorProducts .gridMain .galleryContainer .galeryImg {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        body .contenedorProducts .gridMain .galleryContainer .gallery .galleryTitle {
          text-align: center;
          font-size: 1.8rem;
          color: white;
          background-color: black; }
    body .contenedorProducts .gridFoo {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorProducts .gridFoo .logoInst {
        width: 8%;
        padding: 1%; }
      body .contenedorProducts .gridFoo .logWats {
        width: 8%;
        padding: 1%; }
      body .contenedorProducts .gridFoo .logoTelg {
        width: 8%;
        padding: 1%; } }

body .contenedorIndex {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav    nav   nav  " "main    main     main  " "section section   section" "article  aside   aside" "footer   footer    footer";
  grid-template-columns: 1fr 1fr 300px;
  grid-template-rows: 0.1fr 0,1fr 2fr 0.1fr 400px 500px; }
  body .contenedorIndex .gridHeadI {
    background-color: #519872;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorIndex .gridHeadI .logo {
      border-radius: 50%;
      width: 60%; }
    body .contenedorIndex .gridHeadI h1 {
      text-align: center;
      color: white;
      padding: 30px; }
  body .contenedorIndex .gridNavI {
    background-color: #34252F;
    grid-area: nav;
    display: flex;
    justify-content: center; }
    body .contenedorIndex .gridNavI ul {
      display: flex;
      list-style: none; }
      body .contenedorIndex .gridNavI ul li a {
        text-decoration: none;
        color: white;
        border-radius: 10%;
        margin: 5rem;
        font-size: 4rem;
        font-weight: 400; }
  body .contenedorIndex .gridMainI {
    background-color: white;
    grid-area: main;
    display: flex;
    justify-content: center; }
  body .contenedorIndex .gridArticleI {
    grid-area: article;
    background-color: #34252F; }
    body .contenedorIndex .gridArticleI .imgenvio {
      display: flex;
      text-align: center;
      align-items: center; }
      body .contenedorIndex .gridArticleI .imgenvio p {
        color: white;
        font-size: 2rem;
        padding: 100px; }
  body .contenedorIndex .gridSectionI {
    grid-area: section;
    background-color: antiquewhite; }
    body .contenedorIndex .gridSectionI .movText {
      font-size: 2rem;
      font-weight: bold; }
  body .contenedorIndex .gridAsideI {
    background-color: #519872;
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorIndex .gridAsideI .tarjCred p {
      color: white;
      font-size: 2rem; }
  body .contenedorIndex .gridFooI {
    background-color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #A4B494; }
    body .contenedorIndex .gridFooI .logoInst {
      width: 10%;
      padding: 1%; }
    body .contenedorIndex .gridFooI .logWats {
      width: 10%;
      padding: 1%; }
    body .contenedorIndex .gridFooI .logoTelg {
      width: 10%;
      padding: 1%; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedorIndex {
    display: grid;
    width: 100%;
    grid-template-areas: "header  header" "nav     nav" "main    main" "section section" "article article" "aside     aside" "footer   footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 50px 31% 0.1fr 180px 180px; }
    body .contenedorIndex .gridHeadI {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorIndex .gridHeadI .sizeLogo {
        width: 20%; }
      body .contenedorIndex .gridHeadI .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorIndex .gridHeadI h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorIndex .gridNavI {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #3B5249; }
      body .contenedorIndex .gridNavI ul li a {
        font-size: 2rem;
        margin: 30px;
        color: black;
        font-weight: 600; }
    body .contenedorIndex .gridMainI {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
    body .contenedorIndex .gridArticleI {
      grid-area: article;
      background-color: #34252F;
      display: flex;
      flex-direction: column;
      margin-bottom: 0%; }
      body .contenedorIndex .gridArticleI .imgenvio {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        body .contenedorIndex .gridArticleI .imgenvio img {
          width: 20%; }
        body .contenedorIndex .gridArticleI .imgenvio p {
          color: white;
          font-size: 2rem;
          padding: 25px; }
    body .contenedorIndex .gridSectionI {
      display: none;
      grid-area: section;
      background-color: antiquewhite; }
      body .contenedorIndex .gridSectionI .movText {
        font-size: 2rem;
        font-weight: bold; }
    body .contenedorIndex .gridAsideI {
      background-color: #519872;
      grid-area: aside;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorIndex .gridAsideI .tarjCred img {
        width: 20%; }
      body .contenedorIndex .gridAsideI .tarjCred p {
        color: white;
        font-size: 1.5rem; }
    body .contenedorIndex .gridFooI {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorIndex .gridFooI .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorIndex .gridFooI .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorIndex .gridFooI .logoTelg {
        width: 10%;
        padding: 1%; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .contenedorIndex {
    display: grid;
    grid-template-areas: "header  header header " "nav     nav       nav  " "main    main      main  " "section section   section" "article article   article" "aside     aside     aside" "footer   footer    footer";
    grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr 300px 500px; }
    body .contenedorIndex .gridHeadI {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center;
      padding: 0%; }
      body .contenedorIndex .gridHeadI .logo {
        justify-content: center;
        border-radius: 50%;
        width: 38%; }
      body .contenedorIndex .gridHeadI h1 {
        font-size: 5rem;
        color: white;
        text-align: center;
        letter-spacing: 1rem; }
    body .contenedorIndex .gridNavI {
      background-color: #34252F;
      grid-area: nav;
      display: flex; }
      body .contenedorIndex .gridNavI ul li a {
        text-decoration: none;
        color: white;
        margin: 60px;
        font-size: 2rem;
        font-weight: 400; }
    body .contenedorIndex .gridMainI {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
    body .contenedorIndex .gridArticleI {
      grid-area: article;
      background-color: #34252F;
      display: flex;
      flex-direction: column; }
      body .contenedorIndex .gridArticleI .imgenvio {
        display: flex;
        text-align: center;
        align-items: center; }
        body .contenedorIndex .gridArticleI .imgenvio p {
          color: white;
          font-size: 2rem;
          padding: 100px; }
    body .contenedorIndex .gridSectionI {
      grid-area: section;
      background-color: antiquewhite; }
      body .contenedorIndex .gridSectionI .movText {
        font-size: 2rem;
        font-weight: bold; }
    body .contenedorIndex .gridAsideI {
      background-color: #519872;
      grid-area: aside;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorIndex .gridAsideI .tarjCred p {
        color: white;
        font-size: 1.5rem; }
    body .contenedorIndex .gridFooI {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorIndex .gridFooI .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorIndex .gridFooI .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorIndex .gridFooI .logoTelg {
        width: 10%;
        padding: 1%; } }

body .contenedorTalles {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav    nav   nav  " "section section   section" "main    main     main  "                             "article  article   article" "footer   footer    footer";
  grid-template-columns: 1fr 1fr 300px;
  grid-template-rows: 0.1fr 0,1fr 2fr 0.1fr 400px 500px; }
  body .contenedorTalles .gridHeadT {
    background-color: #519872;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 1%; }
    body .contenedorTalles .gridHeadT .logo {
      border-radius: 50%;
      width: 60%; }
    body .contenedorTalles .gridHeadT h1 {
      text-align: center;
      color: white; }
  body .contenedorTalles .gridNavT {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: #34252F; }
    body .contenedorTalles .gridNavT ul {
      display: flex;
      list-style: none; }
      body .contenedorTalles .gridNavT ul li a {
        text-decoration: none;
        color: white;
        border-radius: 10%;
        margin: 5rem;
        font-size: 4rem;
        font-weight: 400; }
  body .contenedorTalles .gridMainT {
    background-color: white;
    grid-area: main;
    display: flex;
    justify-content: center; }
    body .contenedorTalles .gridMainT p {
      font-size: 2rem;
      font-weight: bold; }
  body .contenedorTalles .gridArticleT {
    grid-area: article;
    background-color: white;
    display: flex; }
    body .contenedorTalles .gridArticleT .despacho {
      display: flex; }
      body .contenedorTalles .gridArticleT .despacho img {
        width: 20%; }
      body .contenedorTalles .gridArticleT .despacho p {
        font-size: 2rem; }
    body .contenedorTalles .gridArticleT .tar {
      display: flex; }
      body .contenedorTalles .gridArticleT .tar img {
        width: 30%; }
      body .contenedorTalles .gridArticleT .tar p {
        font-size: 2rem; }
  body .contenedorTalles .gridSectionT {
    grid-area: section;
    background-color: white; }
    body .contenedorTalles .gridSectionT .remeras {
      display: inline-block; }
      body .contenedorTalles .gridSectionT .remeras h2 {
        font-size: 4rem;
        color: white;
        background-color: black;
        text-align: center; }
      body .contenedorTalles .gridSectionT .remeras p {
        font-size: 3rem; }
    body .contenedorTalles .gridSectionT h1 {
      text-align: center;
      font-size: 4rem; }
    body .contenedorTalles .gridSectionT .talles {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorTalles .gridSectionT .talles .tableTalle {
        width: 50%; }
        body .contenedorTalles .gridSectionT .talles .tableTalle tr th {
          font-size: 3rem; }
        body .contenedorTalles .gridSectionT .talles .tableTalle tr td {
          font-size: 2rem; }
    body .contenedorTalles .gridSectionT .zapatillas {
      display: inline-block; }
      body .contenedorTalles .gridSectionT .zapatillas h2 {
        font-size: 4rem;
        color: white;
        background-color: black;
        text-align: center; }
    body .contenedorTalles .gridSectionT .medida {
      display: flex;
      justify-content: center; }
      body .contenedorTalles .gridSectionT .medida img {
        width: 11%; }
  body .contenedorTalles .gridFooT {
    background-color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #A4B494; }
    body .contenedorTalles .gridFooT .logoInst {
      width: 8%;
      padding: 1%; }
    body .contenedorTalles .gridFooT .logWats {
      width: 8%;
      padding: 1%; }
    body .contenedorTalles .gridFooT .logoTelg {
      width: 8%;
      padding: 1%; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedorTalles {
    display: grid;
    width: 100%;
    grid-template-areas: "header header" "nav     nav " "section section" "main    main " "article article " "footer  footer ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 50px 1fr 1fr 150px 120px; }
    body .contenedorTalles .gridHeadT {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorTalles .gridHeadT .sizeLogo {
        width: 20%; }
      body .contenedorTalles .gridHeadT .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorTalles .gridHeadT h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorTalles .gridNavT {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #3B5249; }
      body .contenedorTalles .gridNavT ul li a {
        font-size: 2rem;
        margin: 30px;
        color: black;
        font-weight: 600; }
    body .contenedorTalles .gridMainT {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
    body .contenedorTalles .gridArticleT {
      grid-area: article;
      background-color: #34252F;
      display: flex;
      flex-direction: column;
      display: none;
      margin-bottom: 0%; }
      body .contenedorTalles .gridArticleT .despacho {
        display: flex;
        object-fit: cover; }
        body .contenedorTalles .gridArticleT .despacho img {
          width: 10%; }
        body .contenedorTalles .gridArticleT .despacho p {
          font-size: 2rem;
          color: white; }
      body .contenedorTalles .gridArticleT .tar {
        display: flex; }
        body .contenedorTalles .gridArticleT .tar img {
          width: 10%; }
        body .contenedorTalles .gridArticleT .tar p {
          font-size: 2rem;
          color: white; }
    body .contenedorTalles .gridSectionT {
      grid-area: section;
      background-color: white; }
      body .contenedorTalles .gridSectionT .remeras {
        display: inline-block; }
        body .contenedorTalles .gridSectionT .remeras h2 {
          font-size: 3rem;
          color: white;
          background-color: black;
          text-align: center; }
        body .contenedorTalles .gridSectionT .remeras p {
          font-size: 3rem; }
      body .contenedorTalles .gridSectionT h1 {
        text-align: center;
        font-size: 3rem; }
      body .contenedorTalles .gridSectionT .talles {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .contenedorTalles .gridSectionT .talles .tableTalle {
          width: 50%; }
          body .contenedorTalles .gridSectionT .talles .tableTalle tr th {
            font-size: 3rem; }
          body .contenedorTalles .gridSectionT .talles .tableTalle tr td {
            font-size: 2rem; }
      body .contenedorTalles .gridSectionT .zapatillas {
        display: inline-block; }
        body .contenedorTalles .gridSectionT .zapatillas h2 {
          font-size: 3rem;
          color: white;
          background-color: black;
          text-align: center; }
      body .contenedorTalles .gridSectionT .medida {
        display: flex;
        justify-content: center; }
        body .contenedorTalles .gridSectionT .medida img {
          width: 11%; }
    body .contenedorTalles .gridFooT {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorTalles .gridFooT .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorTalles .gridFooT .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorTalles .gridFooT .logoTelg {
        width: 10%;
        padding: 1%; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .contenedorTalles {
    display: grid;
    grid-template-areas: "header header header" "nav     nav    nav" "section section section" "main    main   main " "article article article" "footer  footer footer";
    grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr 300px; }
    body .contenedorTalles .gridHeadT {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center;
      padding: 0%; }
      body .contenedorTalles .gridHeadT .logo {
        justify-content: center;
        border-radius: 50%;
        width: 38%; }
      body .contenedorTalles .gridHeadT h1 {
        font-size: 5rem;
        color: white;
        text-align: center;
        letter-spacing: 1rem; }
    body .contenedorTalles .gridNavT {
      background-color: #34252F;
      grid-area: nav;
      display: flex; }
      body .contenedorTalles .gridNavT ul li a {
        text-decoration: none;
        color: white;
        margin: 60px;
        font-size: 2rem;
        font-weight: 400; }
    body .contenedorTalles .gridMainT {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
    body .contenedorTalles .gridArticleT {
      grid-area: article;
      background-color: white;
      display: flex; }
      body .contenedorTalles .gridArticleT .despacho {
        display: flex;
        object-fit: cover; }
        body .contenedorTalles .gridArticleT .despacho img {
          width: 50%; }
        body .contenedorTalles .gridArticleT .despacho p {
          font-size: 2rem; }
      body .contenedorTalles .gridArticleT .tar {
        display: flex; }
        body .contenedorTalles .gridArticleT .tar img {
          width: 50%; }
        body .contenedorTalles .gridArticleT .tar p {
          font-size: 2rem; }
    body .contenedorTalles .gridSectionT {
      grid-area: section;
      background-color: white; }
      body .contenedorTalles .gridSectionT .remeras {
        display: inline-block; }
        body .contenedorTalles .gridSectionT .remeras h2 {
          font-size: 3rem;
          color: white;
          background-color: black;
          text-align: center; }
        body .contenedorTalles .gridSectionT .remeras p {
          font-size: 3rem; }
      body .contenedorTalles .gridSectionT h1 {
        text-align: center;
        font-size: 4rem; }
      body .contenedorTalles .gridSectionT .talles {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .contenedorTalles .gridSectionT .talles .tableTalle {
          width: 50%; }
          body .contenedorTalles .gridSectionT .talles .tableTalle tr th {
            font-size: 3rem; }
          body .contenedorTalles .gridSectionT .talles .tableTalle tr td {
            font-size: 2rem; }
      body .contenedorTalles .gridSectionT .zapatillas {
        display: inline-block; }
        body .contenedorTalles .gridSectionT .zapatillas h2 {
          font-size: 3rem;
          color: white;
          background-color: black;
          text-align: center; }
      body .contenedorTalles .gridSectionT .medida {
        display: flex;
        justify-content: center; }
        body .contenedorTalles .gridSectionT .medida img {
          width: 11%; }
    body .contenedorTalles .gridFooT {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorTalles .gridFooT .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorTalles .gridFooT .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorTalles .gridFooT .logoTelg {
        width: 10%;
        padding: 1%; } }

body .contenedorContacto {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav    nav   nav  " "main    main     main  " "section section   section" "article  aside   aside" "footer   footer    footer";
  grid-template-columns: 0.4fr 1fr 300px;
  grid-template-rows: 0.1fr 0,1fr 2fr 0.1fr 400px 500px; }
  body .contenedorContacto .gridHeadC {
    background-color: #519872;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorContacto .gridHeadC .logo {
      border-radius: 50%;
      width: 60%; }
    body .contenedorContacto .gridHeadC h1 {
      text-align: center;
      color: white;
      padding: 30px; }
  body .contenedorContacto .gridNavC {
    background-color: #34252F;
    grid-area: nav;
    display: flex;
    justify-content: center; }
    body .contenedorContacto .gridNavC ul {
      display: flex;
      list-style: none; }
      body .contenedorContacto .gridNavC ul li a {
        text-decoration: none;
        color: white;
        border-radius: 10%;
        margin: 5rem;
        font-size: 4rem;
        font-weight: 400; }
  body .contenedorContacto .gridMainC {
    background-color: white;
    grid-area: main;
    display: flex;
    justify-content: center; }
    body .contenedorContacto .gridMainC form {
      width: 90%; }
      body .contenedorContacto .gridMainC form .email {
        font-size: 3rem; }
      body .contenedorContacto .gridMainC form .name {
        font-size: 3rem; }
      body .contenedorContacto .gridMainC form .area {
        font-size: 3rem; }
      body .contenedorContacto .gridMainC form .btn {
        font-size: 2rem;
        width: 10%; }
  body .contenedorContacto .gridArticleC {
    grid-area: article;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorContacto .gridArticleC .contact p {
      color: black;
      font-size: 3rem; }
    body .contenedorContacto .gridArticleC .contact img {
      width: 50%; }
  body .contenedorContacto .gridSectionC {
    grid-area: section;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorContacto .gridSectionC .medios {
      margin: 10px; }
      body .contenedorContacto .gridSectionC .medios p {
        font-size: 2rem;
        font-weight: 600; }
    body .contenedorContacto .gridSectionC .visa {
      margin: 10px; }
      body .contenedorContacto .gridSectionC .visa img {
        width: 50%; }
    body .contenedorContacto .gridSectionC .maestro {
      margin: 10px; }
      body .contenedorContacto .gridSectionC .maestro img {
        width: 50%; }
    body .contenedorContacto .gridSectionC .transfer img {
      width: 50%; }
  body .contenedorContacto .gridAsideC {
    background-color: #519872;
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorContacto .gridAsideC .msj p {
      font-size: 2rem;
      color: white; }
  body .contenedorContacto .gridFooC {
    background-color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #A4B494; }
    body .contenedorContacto .gridFooC .logoInst {
      width: 10%;
      padding: 1%; }
    body .contenedorContacto .gridFooC .logWats {
      width: 10%;
      padding: 1%; }
    body .contenedorContacto .gridFooC .logoTelg {
      width: 10%;
      padding: 1%; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedorContacto {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header" "nav    nav  " "main    main " "section section  " "article  aside " "footer   footer ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 50px 1fr 180px 180px; }
    body .contenedorContacto .gridHeadC {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorContacto .gridHeadC .sizeLogo {
        width: 20%; }
      body .contenedorContacto .gridHeadC .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorContacto .gridHeadC h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorContacto .gridNavC {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #3B5249; }
      body .contenedorContacto .gridNavC ul li a {
        font-size: 2rem;
        margin: 30px;
        color: black;
        font-weight: 600; }
    body .contenedorContacto .gridMainC {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
      body .contenedorContacto .gridMainC form {
        width: 90%; }
        body .contenedorContacto .gridMainC form .email {
          font-size: 2rem; }
        body .contenedorContacto .gridMainC form .name {
          font-size: 2rem; }
        body .contenedorContacto .gridMainC form .area {
          font-size: 2rem; }
        body .contenedorContacto .gridMainC form .btn {
          font-size: 1.5rem;
          width: 18%; }
    body .contenedorContacto .gridArticleC {
      grid-area: article;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      body .contenedorContacto .gridArticleC .contact p {
        color: black;
        font-size: 1.8rem; }
      body .contenedorContacto .gridArticleC .contact img {
        width: 30%; }
    body .contenedorContacto .gridSectionC {
      grid-area: section;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorContacto .gridSectionC .medios {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .medios p {
          font-size: 2rem;
          font-weight: 600; }
      body .contenedorContacto .gridSectionC .visa {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .visa img {
          width: 50%; }
      body .contenedorContacto .gridSectionC .maestro {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .maestro img {
          width: 50%; }
      body .contenedorContacto .gridSectionC .transfer img {
        width: 50%; }
    body .contenedorContacto .gridAsideC {
      background-color: white;
      grid-area: aside;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorContacto .gridAsideC .msj p {
        font-size: 2rem;
        color: black; }
    body .contenedorContacto .gridFooC {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorContacto .gridFooC .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorContacto .gridFooC .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorContacto .gridFooC .logoTelg {
        width: 10%;
        padding: 1%; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .contenedorContacto {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header " "nav    nav   nav  " "main    main     main  " "section section   section" "article  aside   aside" "footer   footer    footer";
    grid-template-rows: 0.1fr 70px 82% 100px 200px; }
    body .contenedorContacto .gridHeadC {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorContacto .gridHeadC .sizeLogo {
        width: 20%; }
      body .contenedorContacto .gridHeadC .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorContacto .gridHeadC h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorContacto .gridNavC {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #34252F; }
      body .contenedorContacto .gridNavC ul li a {
        font-size: 2rem;
        margin: 60px;
        color: white;
        font-weight: 400; }
    body .contenedorContacto .gridMainC {
      background-color: white;
      grid-area: main;
      display: flex;
      justify-content: center; }
      body .contenedorContacto .gridMainC form {
        width: 90%; }
        body .contenedorContacto .gridMainC form .email {
          font-size: 3rem; }
        body .contenedorContacto .gridMainC form .name {
          font-size: 3rem; }
        body .contenedorContacto .gridMainC form .area {
          font-size: 3rem; }
        body .contenedorContacto .gridMainC form .btn {
          font-size: 2rem;
          width: 20%; }
    body .contenedorContacto .gridArticleC {
      grid-area: article;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      body .contenedorContacto .gridArticleC .contact p {
        color: black;
        font-size: 1.8rem; }
      body .contenedorContacto .gridArticleC .contact img {
        width: 50%; }
    body .contenedorContacto .gridSectionC {
      grid-area: section;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorContacto .gridSectionC .medios {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .medios p {
          font-size: 2rem;
          font-weight: 600; }
      body .contenedorContacto .gridSectionC .visa {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .visa img {
          width: 50%; }
      body .contenedorContacto .gridSectionC .maestro {
        margin: 10px; }
        body .contenedorContacto .gridSectionC .maestro img {
          width: 50%; }
      body .contenedorContacto .gridSectionC .transfer img {
        width: 50%; }
    body .contenedorContacto .gridAsideC {
      background-color: white;
      grid-area: aside;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorContacto .gridAsideC .msj p {
        font-size: 2rem;
        color: black; }
    body .contenedorContacto .gridFooC {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorContacto .gridFooC .logoInst {
        width: 10%;
        padding: 1%; }
      body .contenedorContacto .gridFooC .logWats {
        width: 10%;
        padding: 1%; }
      body .contenedorContacto .gridFooC .logoTelg {
        width: 10%;
        padding: 1%; } }

body .contenedorNosotros {
  display: grid;
  height: 100vh;
  grid-template-areas: "header header header " "nav    nav   nav  " "main    main     main  " "section section   section" "article  article   article" "footer   footer    footer";
  grid-template-columns: 1fr 1fr 300px;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 50px 140px; }
  body .contenedorNosotros .gridHeadN {
    background-color: #519872;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorNosotros .gridHeadN .logo {
      border-radius: 50%;
      width: 60%; }
    body .contenedorNosotros .gridHeadN h1 {
      text-align: center;
      color: white;
      padding: 30px; }
  body .contenedorNosotros .gridNavN {
    background-color: #34252F;
    grid-area: nav;
    display: flex;
    justify-content: center; }
    body .contenedorNosotros .gridNavN ul {
      display: flex;
      list-style: none; }
      body .contenedorNosotros .gridNavN ul li a {
        text-decoration: none;
        color: white;
        border-radius: 10%;
        margin: 5rem;
        font-size: 4rem;
        font-weight: 400; }
  body .contenedorNosotros .gridMainN {
    background-color: #519872;
    grid-area: main;
    display: flex;
    justify-content: center; }
    body .contenedorNosotros .gridMainN .somos img {
      width: 100%; }
    body .contenedorNosotros .gridMainN .somos p {
      font-size: 3rem;
      text-align: center;
      color: white; }
  body .contenedorNosotros .gridArticleN {
    grid-area: article;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contenedorNosotros .gridArticleN .red {
      justify-content: center; }
      body .contenedorNosotros .gridArticleN .red p {
        font-size: 2rem; }
  body .contenedorNosotros .gridSectionN {
    grid-area: section;
    background-color: white;
    display: flex;
    padding: 0%; }
    body .contenedorNosotros .gridSectionN .colaborar {
      margin: 9%; }
      body .contenedorNosotros .gridSectionN .colaborar img {
        width: 150%; }
  body .contenedorNosotros .gridAsideN {
    background-color: #519872;
    grid-area: aside;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .contenedorNosotros .gridFooN {
    background-color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: #A4B494; }
    body .contenedorNosotros .gridFooN .logoInst {
      width: 8%;
      padding: 1%; }
    body .contenedorNosotros .gridFooN .logWats {
      width: 8%;
      padding: 1%; }
    body .contenedorNosotros .gridFooN .logoTelg {
      width: 8%;
      padding: 1%; }

@media only screen and (max-width: 768px) and (min-width: 576px) {
  body .contenedorNosotros {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header" "nav    nav " "main    main " "section section " "article  article " "footer   footer ";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 50px 1fr 1fr 150px 100px; }
    body .contenedorNosotros .gridHeadN {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center; }
      body .contenedorNosotros .gridHeadN .sizeLogo {
        width: 20%; }
      body .contenedorNosotros .gridHeadN .logo {
        margin: 0%;
        border-radius: 50%;
        width: 100%; }
      body .contenedorNosotros .gridHeadN h1 {
        text-align: left;
        color: white;
        font-size: 4rem; }
    body .contenedorNosotros .gridNavN {
      grid-area: nav;
      display: flex;
      justify-content: center;
      background-color: #3B5249; }
      body .contenedorNosotros .gridNavN ul li a {
        font-size: 2rem;
        margin: 30px;
        color: black;
        font-weight: 600; }
    body .contenedorNosotros .gridMainN {
      background-color: #519872;
      grid-area: main;
      display: flex;
      justify-content: center; }
      body .contenedorNosotros .gridMainN .somos img {
        width: 100%; }
      body .contenedorNosotros .gridMainN .somos p {
        font-size: 2rem;
        text-align: center;
        color: white; }
    body .contenedorNosotros .gridArticleN {
      grid-area: article;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorNosotros .gridArticleN .red {
        justify-content: center; }
        body .contenedorNosotros .gridArticleN .red p {
          font-size: 2rem; }
    body .contenedorNosotros .gridSectionN {
      grid-area: section;
      background-color: white;
      display: flex;
      padding: 0%;
      display: none; }
      body .contenedorNosotros .gridSectionN .colaborar {
        margin: 9%; }
        body .contenedorNosotros .gridSectionN .colaborar img {
          width: 150%; }
    body .contenedorNosotros .gridFooN {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorNosotros .gridFooN .logoInst {
        width: 8%;
        padding: 1%; }
      body .contenedorNosotros .gridFooN .logWats {
        width: 8%;
        padding: 1%; }
      body .contenedorNosotros .gridFooN .logoTelg {
        width: 8%;
        padding: 1%; } }

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .contenedorNosotros {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header " "nav    nav   nav  " "main    main     main  " "section section   section" "article  article   article" "footer   footer    footer";
    grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr 300px; }
    body .contenedorNosotros .gridHeadN {
      background-color: #519872;
      grid-area: header;
      display: flex;
      justify-content: center;
      padding: 0%; }
      body .contenedorNosotros .gridHeadN .logo {
        justify-content: center;
        border-radius: 50%;
        width: 38%; }
      body .contenedorNosotros .gridHeadN h1 {
        font-size: 5rem;
        color: white;
        text-align: center;
        letter-spacing: 1rem; }
    body .contenedorNosotros .gridNavN {
      background-color: #34252F;
      grid-area: nav;
      display: flex; }
      body .contenedorNosotros .gridNavN ul li a {
        text-decoration: none;
        color: white;
        margin: 60px;
        font-size: 2rem;
        font-weight: 400; }
    body .contenedorNosotros .gridMainN {
      background-color: #519872;
      grid-area: main;
      display: flex;
      justify-content: center; }
      body .contenedorNosotros .gridMainN .somos img {
        width: 100%; }
      body .contenedorNosotros .gridMainN .somos p {
        font-size: 3rem;
        text-align: center;
        color: white; }
    body .contenedorNosotros .gridArticleN {
      grid-area: article;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
      body .contenedorNosotros .gridArticleN .red {
        justify-content: center; }
        body .contenedorNosotros .gridArticleN .red p {
          font-size: 2rem; }
    body .contenedorNosotros .gridSectionN {
      grid-area: section;
      background-color: white;
      display: flex;
      justify-content: center; }
    body .contenedorNosotros .gridFooN {
      background-color: white;
      grid-area: footer;
      display: flex;
      justify-content: center;
      background-color: #A4B494; }
      body .contenedorNosotros .gridFooN .logoInst {
        width: 8%;
        padding: 1%; }
      body .contenedorNosotros .gridFooN .logWats {
        width: 8%;
        padding: 1%; }
      body .contenedorNosotros .gridFooN .logoTelg {
        width: 8%;
        padding: 1%; } }
