footer {
    grid-area: footer;
    display: flex;
    justify-content: center;

    .fooContacto {
        margin: 15%;
    }

    p {
        font-size: 2rem;
        margin: 5%;
        background-color: #7ebdc2;
        color: black;
    }
}