@media only screen and (max-width: 768px) and (min-width:576px) {
    body {
        .contenedorIndex {
            display: grid;
            width: 100%;
            grid-template-areas: "header  header"
                "nav     nav"
                "main    main"
                "section section"
                "article article"
                "aside     aside"
                "footer   footer";
            grid-template-columns: auto auto;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            .gridHeadI {
                background-color: black;
                grid-area: header;
                display: flex;
                justify-content: center;
                .sizeLogo {
                    width: 20%;
                }
                .logo {
                    margin: 0%;
                    border-radius: 50%;
                    width: 100%;
                }
                h1 {
                    text-align: left;
                    color: $color-header-h1;
                    font-size: 4rem;
                }
            }
            .gridNavI {
                grid-area: nav;
                display: flex;
                justify-content: center;
                background-color: #34252F;
                ul {
                    li {
                        a {
                            font-size: 2rem;
                            margin: 30px;
                            color: white;
                            font-weight: 400;
                        }
                    }
                }
            }
            .gridMainI {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
            }
            .gridArticleI {
                grid-area: article;
                background-color: #34252F;
                display: flex;
                flex-direction: column;
                margin-bottom: 0%;
                .imgenvio {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;

                    img {
                        width: 20%;
                    }
                    p {
                        color: white;
                        font-size: 2rem;
                        padding: 25px;
                    }
                }
            }

            .gridSectionI {
                grid-area: section;
                background-color: antiquewhite;
                .movText {
                    font-size: 2rem;
                    font-weight: bold;
                }
                .galleryContainer {
                    display: grid;
                    background-color: white;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows: 250px;
                    grid-gap: 10px;
                    .galeryImg {
                        width: 100%;
                        object-fit: cover;
                    }
                    .gallery {
                        .galleryTitle {
                            text-align: center;
                            font-size: 2rem;
                            color: white;
                            background-color: black;
                        }
                    }
                }

            }
            .gridAsideI {
                background-color: black;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;
                .tarjCred {
                    img {
                        width: 20%;
                    }
                    p {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }

            .gridFooI {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: white;
                .logoInst {
                    width: 10%;
                    padding: 1%;
                }
                .logWats {
                    width: 10%;
                    padding: 1%;
                }
                .logoTelg {
                    width: 10%;
                    padding: 1%;
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) and (min-width:768px) {
    body {
        .contenedorIndex {
            display: grid;
            grid-template-areas: "header  header header "
                "nav     nav       nav  "
                "main    main      main  "
                "section section   section"
                "article article   article"
                "aside     aside     aside"
                "footer   footer    footer";

            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            .gridHeadI {
                background-color: black;
                grid-area: header;
                display: flex;
                justify-content: center;
                padding: 0%;
                .logo {
                    justify-content: center;
                    border-radius: 50%;
                    width: 38%;
                }
                h1 {
                    font-size: 5rem;
                    color: white;
                    text-align: center;
                    letter-spacing: 1rem;
                }
            }
            .gridNavI {
                background-color: #34252F;
                grid-area: nav;
                display: flex;
                ul {
                    li {
                        a {
                            text-decoration: none;
                            color: white;
                            margin: 50px;
                            font-size: 2rem;
                            font-weight: 400;
                        }
                    }
                }
            }
            .gridMainI {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
            }
            .gridArticleI {
                grid-area: article;
                background-color: #34252F;
                display: flex;
                flex-direction: column;
                .imgenvio {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    img {
                        height: 45%;
                    }
                    p {
                        color: white;
                        font-size: 2rem;
                        padding: 100px;
                    }
                }
            }
            .gridSectionI {
                grid-area: section;
                background-color: antiquewhite;
                .movText {
                    font-size: 2rem;
                    font-weight: bold;
                }
                .galleryContainer {
                    display: grid;
                    background-color: white;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-rows: 230px;
                    padding: 110px;
                    grid-gap: 10px;
                    .galeryImg {
                        width: 100%;
                        object-fit: cover;
                    }
                    .gallery {

                        .galleryTitle {
                            text-align: center;
                            font-size: 2rem;
                            color: white;
                            background-color: black;
                        }
                    }
                }
            }
            .gridAsideI {
                background-color: black;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;
                .tarjCred {
                    img {
                        width: 10%;
                    }

                    p {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
            .gridFooI {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: white;

                .logoInst {
                    width: 10%;
                    padding: 1%;
                }
                .logWats {
                    width: 10%;
                    padding: 1%;
                }
                .logoTelg {
                    width: 10%;
                    padding: 1%;
                }
            }
        }
    }
}
@media only screen and (max-width: 575px) and (min-width:320px) {

    body {

        .contenedorIndex {

            display: grid;
            width: 100%;
            grid-template-areas: "header  header"
                "nav     nav"
                "main    main"
                "section section"
                "article article"
                "aside     aside"
                "footer   footer";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.2fr 50px 31% 0.1fr 150px 150px 50px;

            .gridHeadI {
                background-color: black;
                grid-area: header;
                display: flex;
                justify-content: center;
                align-items: center;

                .logo {
                    display: none;
                }
                h1 {
                    text-align: left;
                    color: $color-header-h1;
                    font-size: 3rem;
                }
            }
            .gridNavI {
                grid-area: nav;
                display: flex;
                justify-content: center;
                background-color: #34252F;
                ul {
                    li {
                        a {
                            font-size: 1.3rem;
                            margin: 14px;
                            color: white;
                            font-weight: 400;
                        }
                    }
                }
            }
            .gridMainI {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
                width: 60%;
            }
            .gridArticleI {
                grid-area: article;
                background-color: #34252F;
                display: flex;
                flex-direction: column;
                margin-bottom: 0%;
                .imgenvio {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    img {
                        width: 20%;
                    }
                    p {
                        color: white;
                        font-size: 1rem;
                        padding: 25px;
                    }
                }
            }

            .gridSectionI {
                display: none;
                grid-area: section;
                background-color: antiquewhite;
                .movText {
                    font-size: 2rem;
                    font-weight: bold;
                }
                .galleryContainer {
                    display: grid;
                    background-color: white;
                    grid-template-columns: repeat(3, 1fr);
                    grid-auto-rows: 350px;
                    padding: 110px;
                    grid-gap: 10px;
                    .galeryImg {
                        width: 100%;
                        object-fit: cover;
                    }
                    .gallery {
                        .galleryTitle {
                            text-align: center;
                            font-size: 2rem;
                            color: white;
                            background-color: black;
                        }
                    }
                }

            }
            .gridAsideI {
                background-color: black;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;

                .tarjCred {
                    img {
                        width: 20%;
                    }

                    p {
                        color: white;
                        font-size: 1.5rem;
                    }
                }
            }
            .gridFooI {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: white;

                .logoInst {
                    width: 10%;
                    padding: 1%;
                }

                .logWats {
                    width: 10%;
                    padding: 1%;
                }

                .logoTelg {
                    width: 10%;
                    padding: 1%;
                }
            }
        }
    }
}