body {
    .contenedorNosotros {

        display: grid;
        height: 100vh;

        grid-template-areas: "header header header "
                            "nav    nav   nav  "
                             "main    main     main  "
                             "section section   section"
                             "article  article   article"
                             "footer   footer    footer";
        grid-template-columns: 1fr 1fr 300px;    
        grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 50px 140px;

        .gridHeadN {
            background-color: #519872;
            grid-area: header;
            display: flex;
            justify-content: center;
            align-items: center;    
            .logo {
                border-radius: 50%;
                width: 60%;
            }

              h1 {
                text-align: center;
                color: $color-header-h1;
                padding: 30px;
            }
        }

        .gridNavN {
            background-color: #34252F;
            grid-area: nav;
            display: flex;
            justify-content: center;
            ul {
                display: flex;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        border-radius: 10%;
                        margin: 5rem;
                        font-size: 4rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .gridMainN {
            background-color: #519872;
            grid-area: main;
            display: flex;
            justify-content: center;
            .somos{
               img{
                   width: 100%;
               }
              p{
                  font-size: 3rem;
                  text-align: center;
                  color: white;
              }
            }
           

        }
        .gridArticleN{
        grid-area: article;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        .red{
            justify-content: center;
            p{
                font-size: 2rem;
                
            }
        }
        
       
        }
        .gridSectionN{
            grid-area: section;
            background-color: white;
            display: flex;
            padding: 0%;
            
            
            .colaborar{
                margin: 9%;
                img{
                    width: 150%;
                }
            }
        
        }
        .gridAsideN {
            background-color: #519872;
            grid-area: aside;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }
        .gridFooN{
            background-color: white;
            grid-area: footer;
            display: flex;
            justify-content: center;
            background-color: #A4B494;
            .logoInst{
                width: 8%;
                padding: 1%;
            }
            .logWats{
                width: 8%;
                padding: 1%;
            }
            .logoTelg{
                width: 8%;
                padding: 1%;
            }

        }

    }

}

