@media only screen and (max-width: 768px) and (min-width:576px) {

    body {
        .contenedorContacto {
    
            display: grid;
            height: 100vh;
    
            grid-template-areas: "header header"
                                "nav    nav  "
                                 "main    main "
                                 "section section  "
                                 "article  article "
                                 "aside    aside"
                                 "footer   footer ";
            grid-template-columns: 1fr 1fr; 
                     
            grid-template-rows: 0.3fr 50px 1fr 180px 180px;
                  
    
            .gridHeadC {
                background-color: #519872;
                grid-area: header;
                display: flex;
                justify-content: center;

  
                .sizeLogo{
                    width: 20%;
                }
                .logo {
                    margin: 0%;
                    border-radius: 50%;
                    width: 100%;              
                }
                h1 {
                
                    text-align: left;
                    color: $color-header-h1;
                    font-size: 4rem;
                }
    
            }
    
            .gridNavC {
                grid-area: nav;
                display: flex;
                justify-content: flex-start;
                background-color: #3B5249;

                ul {
                 

                    li {
                        a {
                            font-size: 2rem;
                            margin: 25px;
                            color: black;
                            font-weight: 600;
                        }
                    }
                }
            }
    
           
            .gridMainC {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
    
                form{
                    width: 90%;
                    .email{
                        font-size: 2rem;        
                    }
                    .name{
                        font-size: 2rem;
                    }
                    .area{
                        font-size: 2rem;
                    }
                    .btn{
                        font-size: 1.5rem;
                        width: 18%;
                    }
                }
               
    
            }
            .gridArticleC{
              
            grid-area: article;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            .contact{
                p{
                    color: black;
                    font-size: 1.8rem;
                }
                img{
                    width: 30%;
                }
            }
                
            }
            .gridSectionC{
                grid-area: section;
                background-color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .medios{
                    margin: 10px;
                    p{
                        font-size: 2rem;
                        font-weight: 600;
                        }
                }    
                
                .visa{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .maestro{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .transfer{
                    img{
                        width: 50%;
                    }
                }
    
            }
            .gridAsideC {
                background-color: white;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;
                .msj{
                    p{  
                        font-size: 2rem;
                        color: black;
                    }
                } 
            }
            .gridFooC {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: #A4B494;
                .logoInst{
                    width: 10%;
                    padding: 1%;
                }
                .logWats{
                    width: 10%;
                    padding: 1%;
                }
                .logoTelg{
                    width: 10%;
                    padding: 1%;
                }
    
            }
    
        }
    
    }

}


@media only screen and (max-width: 1200px) and (min-width:768px) {

    body {
        .contenedorContacto {
    
            display: grid;
            height: 100vh;
    
            grid-template-areas: "header header header "
                                "nav    nav   nav  "
                                 "main    main     main  "
                                 "section section   section"
                                 "article  aside   aside"
                                 "footer   footer    footer";
            grid-template-rows: 0.1fr 70px 82% 100px 200px;
    
            .gridHeadC {
                background-color: #519872;
                grid-area: header;
                display: flex;
                justify-content: center;
    
                .sizeLogo {
                    width: 20%;
                }
    
                .logo {
                    margin: 0%;
                    border-radius: 50%;
                    width: 100%;
                }
    
                h1 {
    
                    text-align: left;
                    color: $color-header-h1;
                    font-size: 4rem;
                }
            }
    
            .gridNavC {
                grid-area: nav;
                display: flex;
                justify-content: center;
                background-color: #34252F;
    
                ul {
                    li {
                        a {
                            font-size: 2rem;
                            margin: 60px;
                            color: white;
                            font-weight: 400;
                        }
                    }
                }
            }
    
           
            .gridMainC {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
    
                form{
                    width: 90%;
                    .email{
                        font-size: 3rem;        
                    }
                    .name{
                        font-size: 3rem;
                    }
                    .area{
                        font-size: 3rem;
                    }
                    .btn{
                        font-size: 2rem;
                        width: 20%;
                    }
                }
               
    
            }
            .gridArticleC{
              
            grid-area: article;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            .contact{
                p{
                    color: black;
                    font-size: 1.8rem;
                }
                img{
                    width: 50%;
                }
            }
                
            }
            .gridSectionC{
                grid-area: section;
                background-color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .medios{
                    margin: 10px;
                    p{
                        font-size: 2rem;
                        font-weight: 600;
                        }
                }    
                
                .visa{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .maestro{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .transfer{
                    img{
                        width: 50%;
                    }
                }
    
            }
            .gridAsideC {
                background-color: white;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;
                .msj{
                    p{  
                        font-size: 2rem;
                        color: black;
                    }
                } 
            }
            .gridFooC {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: #A4B494;
                .logoInst{
                    width: 10%;
                    padding: 1%;
                }
                .logWats{
                    width: 10%;
                    padding: 1%;
                }
                .logoTelg{
                    width: 10%;
                    padding: 1%;
                }
    
            }
    
        }
    
    }

}


@media only screen and (max-width: 575px) and (min-width:320px) {
    
    body {
        .contenedorContacto {
    
            display: grid;
            height: 100vh;
    
            grid-template-areas: "header header"
                                "nav    nav  "
                                 "main    main "
                                 "section section  "
                                 "article  article "
                                 "aside    aside"
                                 "footer   footer ";
             grid-template-columns: 1fr 1fr; 
                     
            grid-template-rows: 0.3fr 50px 1fr 180px 180px 50px 110px;
                  
    
            .gridHeadC {
                background-color: #519872;
                grid-area: header;
                display: flex;
                justify-content: center;

  
               
                .logo {
                    display: none;
                               
                }
                h1 {
                
                    text-align: left;
                    color: $color-header-h1;
                    font-size: 3rem;
                }
    
            }
    
            .gridNavC {
                grid-area: nav;
                display: flex;
                justify-content: flex-start;
                background-color: #3B5249;

                ul {
                 

                    li {
                        a {
                            font-size: 1.5rem;
                            margin: 17px;
                            color: white;
                            font-weight: 400;
                        }
                    }
                }
            }
 
            .gridMainC {
                background-color: white;
                grid-area: main;
                display: flex;
                justify-content: center;
    
                form{
                    width: 90%;
                    .email{
                        font-size: 1.5rem;        
                    }
                    .name{
                        font-size: 1.5rem;
                    }
                    .area{
                        font-size: 1.5rem;
                    }
                    .btn{
                        font-size: 1.5rem;
                        width: 19%;
                    }
                }
               
    
            }
            .gridArticleC{
              
            grid-area: article;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            .contact{
                p{
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 800;
                }
                img{
                    width: 30%;
                }
            }
                
            }
            .gridSectionC{
                grid-area: section;
                background-color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0%;
                
                .medios{
                    margin: 10px;
                    p{            
                        font-size: 1.5rem;
                        font-weight: 600;
                        }
                }    
                
                .visa{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .maestro{
                    margin: 10px;
    
                    img{
                        width: 50%;
                    }
                }
                .transfer{
                    img{
                        width: 50%;
                    }
                }
    
            }
            .gridAsideC {
                background-color: white;
                grid-area: aside;
                display: flex;
                justify-content: center;
                align-items: center;
                .msj{
                    p{  
                        font-size: 1rem;
                        color: black;
                    }
                } 
            }
            .gridFooC {
                background-color: white;
                grid-area: footer;
                display: flex;
                justify-content: center;
                background-color: #A4B494;
                .logoInst{
                    width: 10%;
                    padding: 1%;
                }
                .logWats{
                    width: 10%;
                    padding: 1%;
                }
                .logoTelg{
                    width: 10%;
                    padding: 1%;
                }
    
            }
    
        }
    
    }
}